$base-0: #fff;
$base-50: #f6f8fc;
$base-100: #f0f3fa;
$base-200: #ebeef5;
$base-300: #e3e7ef;
$base-400: #cbd0de;
$base-500: #aab0c1;
$base-600: #8089a2;
$base-700: #5c657e;
$base-800: #343b4c;
$base-900: #1f222a;

$green-0: #ebf7ed;
$green-100: #c8e6ca;
$green-200: #a5d6a7;

$red-0: #ff584d;
$red-100: #ff392e;

$indigo-400: #6366f1;
$indigo-500: #4f46e5;
